@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to right top, #ff002d, #f52a3d, #ea3e4b, #de4d57, #d15962);

}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.logo{
    width: 250px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.info{
    font-family: 'Salara', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 20px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-pricipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.conteudo-escrito-subtitulo{
    font-family: 'Salara', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-escrito-botao{
    background-color: #ff002d;
    width: 185px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Salara', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
}

.conteudo-escrito-botao:hover{
    background-color: #b10928;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #fff2e7;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Salara', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff2e7;
}


/* FOOTER FIFERENTÃO */



body .footer {
    z-index: 1;
    --footer-background:#b10928;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
